.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  
  #rotate {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
  }
  #rotate:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  #txtheader {
    animation: color 1s infinite;
  }
  @keyframes color {
    0% {
      color: red;
    }
    25% {
      color: orange;
    }
    50% {
      color: white;
    }
    100% {
      color: green;
    }
  }
  